<div class="row">
    <div class="col s12">
        <h1>This is our cloud app, fool!</h1>
    </div>
    <div class="col s12">
        <% arr.forEach( function(image, i) { %>
            <% var imgUrl = cloud.url(image, {width:150, height:150}) %>
            <div class="col s3">
                <a href="<%= imgUrl %>">Image <%= i + 1 %> <img src="<%= imgUrl %>"></a>    
            </div>
        <% }) %>
    </div>
</div>